<h1>Control de colores</h1>
<div class="row">
  <div class="container-fluid">

      <input type="text" value="75" class="dialr">

      <input type="text" value="75" class="dialg">

      <input type="text" value="75" class="dialb">

  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <canvas id="canvas" width="300" height="300"></canvas>
  </div>

</div>
